.outer-container{
    width: 100%;
    height: 87vh;
    overflow: hidden;
    background-color:#f6f7fbff ;
    background-image: url('../../assests/logo.svg');
    background-repeat: no-repeat;
    background-position: right;
}

.inner-container{
    width: 100%;
    height: 93%;
    padding: 1rem 0 3rem;
    display: flex;
    align-items: center;
    justify-content: left;
}

.Form-tag{
    width: 80%;
    min-width: 290px;
    max-width: 500px;
    padding: 3.5rem 1rem;
    border-radius: 4px;
    box-shadow: rgb(226, 226, 226) 3px 3px 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    height: 74%;
    margin-left: 30px;
}