.message-self-container{
    background-color: #e8505b;
    color: white;
    display: flex;
    width: max-content;
    /* flex-direction: column; */
    padding: 10px 15px;
    margin: 10px;
    border-radius: 20px;
    gap: 12px;
    height: 32px;
    justify-content: flex-end;
}

.message-self{
    font-size:1.2rem ;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight:500;
}
.main-self{
    display: flex;
    justify-content: flex-end;
}

.self-timestamp{
    margin: 4px;
    font-weight: 100;
    display: flex;
    justify-content: flex-end;
}

.message-others-con{
    width: max-content;
    padding: 10px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.message-other-icon{

    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #d9d9d9; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2.5rem;
    font-weight: bolder;
    color: white;
    /* height: 32px;
    width: 32px;
    padding: 8px; */
    border-radius: 50%;

}

.message-other-container{
    margin-left: 5px;
    background-color: #d9d9d9;
    border-radius: 20px;
    padding: 10px 14px;
}

.message-other-title{
    font-size: 0.8rem;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.message-other-time{
    display: flex;
    justify-content: flex-end;
    font-weight: 100;
}

.message-other-message{
    font-weight: 400;
    padding: 3px 0px;
    font-size: 1.2rem;
}
.darkergreen{
    background-color: #0E8388;
}
.msg-contime{
    display: flex;
    gap: 11px;
    justify-content: space-between;
}
.msg-timestamp{
    display: flex;
    justify-content: end;
    align-self: end;
    font-size: 12px;
}