*{
  margin: 0;
  padding: 0;
}

.App{
  min-height: 100vh;
  color: black !important;
}

.user-container{
  flex: 3;    
  margin-left: 10px;
  margin-top: 10px;
  overflow-x: hidden;
  border-top-left-radius: 16px;
}
.user-container::-webkit-scrollbar{
  display: none;
}

/* theme */
.dark{
  color: white !important;
  background-color:#2E4F4F !important;
}
.darker{
  background-color: #2C3333 !important;
  color: white !important;
}
.darkerlight{
  background-color: #CBE4DE !important;
  color: #2C3333 !important;
}

/* ------Avatar-------- */

.Wrapper{
    justify-content: space-evenly;
    width: 80%;
    align-items: center;
    gap: 1rem;
    display: flex;
}

.generate_button{
  align-items: center;
  border-radius: 7px;
  gap: 10px;
  display: flex;
  border: 2px solid #e8505b;
  padding: 0px 11px;
}

.loader {
  transition: transform 0.6s ease-in-out;
}

.rotate {
  animation: rotate 1s infinite linear;
}
.AvatarBox{
  background-color: #E1E1E1;
  padding: 10px 10px;
}
.avatar-box{
  grid-area: 1/1/3/2;
  border-radius: 9px;
  padding: 0px 3px;
  height: 50px;
  width: 50px;
  /* background: rgb(225, 225, 225); */
}

/* ---------see User--------- */
.Seeuserdialer{
   display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 20%;
    align-items: center;
}


.users-add{
  display: flex;
  gap:20px;
  /* justify-content: center; */
  flex-wrap: wrap;
  align-items: center;
}

.addmemuser{
  background-color: #2E4F4F;
  display: flex;
  gap: 20px;
  /* justify-content: center; */
  align-items: center;
  padding: 10px 10px;
  border-radius: 18px;
}
.addmem-cont{
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 10px;
}




@media only screen and (max-width:40em){
  .sb-con-user{
    display: block !important;
  }
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-360deg);
  }
}