.createGroups-container{
    flex: 3;
    justify-content: center;
    padding: 20px 10px;
    margin: 10px;
    border-top-left-radius: 20px;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-top: 7px solid #E1E1E1;
    border-left: 5px solid #E1E1E1;
}
.borderdark{
    border-top: 7px solid #2C3333;
    color: black !important;
    border-left: 5px solid #2C3333;
}
.creategroupInput{
    gap: 10px;
    display: flex;
    flex-direction: column;
}
.creategroupInput input{
    margin-left: 0;
    border-radius: 8px;
    padding: 15px 15px;
    background-color:#E1E1E1 ;
}

.createGroups-box{
    flex-direction: column;
    gap: 26px;
    display: flex;
    padding: 20px 31px;
    border-radius: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    width: 30vw;
    height: 42vh;
    /* background-color: #E1E1E1; */

}
.search-box{ 
    flex: 1;
    outline-width: 0;
    border: none;
    font-size: 1.25rem;
    color: rgba(0, 0, 0, 0.54);
}
.darkerbox{
    background-color: #CBE4DE !important;
}