.sidebar{
    /* border: 2px solid black; */
    display: flex;
    flex-direction: column;
    flex: 1;
}

.sb-header{
    margin-top: 11px;
    border-top-right-radius: 16px;
    height: 7vh;
    background-color: #E1E1E1;
    padding: 10px 8px;
    display: flex;
    justify-content: space-between;
}
.other-icons{
    align-items: center;
    display: flex;
    gap: 4px;
}
.sb-search{
    background-color: white;
    display: flex;
    padding: 8px 12px;
    border-bottom: 1px solid black;
    width: 80%;
    margin: 10px auto;
}

.sb-search input{
    width: 100%;
    outline: 0;
    border: none;
    font-size: 1.25rem;
    margin-left: 12px;
}
.sb-conversation{
    overflow-x: scroll;
    flex: 1;
}
.sb-conversation::-webkit-scrollbar {
    display: none;
}
.pro-text{
    color: rgba(0, 0, 0, 0.54);
}
.border-bottom{
    border-bottom: 1px solid white !important;
}

.conversation-container{
    cursor: pointer;
    display: grid;
    grid-template-columns: 32px auto auto;
    grid-template-rows: auto auto;
    column-gap: 35px;
    padding: 5px 10px;
    margin: 7px;
    border-radius: 20px;
    transition-duration: 0.5s ;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
    align-items: center;

}

.con-icon{
    grid-area: 1/1/3/2;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #d9d9d9; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 2rem;
    /* font-weight: bolder; */
    /* color: white; */
    height: 45px;
    width: 45px;
    padding: 2px;
    /* border-radius: 50%; */
    justify-self: center;
    align-self: center;
}

.con-title{
    grid-area: 1/2/2/4;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.54);
}
.con-timestamp{
    justify-self: flex-end;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 0.75rem;
    color: rgba(0, 0, 0, 0.54);
}
.con-lastMessage{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 300;
}
/* .iconshadow{
    background: white !important;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    color: black !important;
} */

.notification{
    display: flex;
    justify-content: center;
}
.sb-search-container{
    padding: 0px 10px;
    display: flex;
}
.notification{
    display: flex;
    justify-content: center;
    flex: 1;
    align-items: center;
}

@media only screen and (min-width:638px) and (max-width:880px) {
    .sidebar{
        flex:1.6;
    }
}

@media only screen and (max-width:40em){
    .sb-search-container{
        display: none;
    }
    .sb-conversation{
        display: none;
    }
    .sb-header{
        flex-direction: column-reverse;
        width: min-content;
        flex:1;
    }
    .other-icons{
        display: flex;
        flex-direction: column;
    }
    .sidebar{
        flex: 0;
    }
    .pro-text{
        display: none;
    }
    .chats-icons{
        display: block !important;
    }
}

